#header
{
max-width:1024px;
border:1px #ccc solid;
height:128px;
margin: auto;
background-image:url(jq/css/custom-theme/images/ui-bg_diagonals-thick_90_eeeeee_40x40.png);
}

#container
{
border:#ccc 1px solid;
max-width : 1024px;
margin: auto;
padding: 10px;
background-color:#FFF;
}

#footer
{
background-image:url(jq/css/custom-theme/images/ui-bg_diagonals-thick_90_eeeeee_40x40.png);
max-width:1024px;
margin-top:10px;
border:1px #ccc solid;
padding: 5px;
}
#menus
{
	background-image:url(jq/css/custom-theme/images/ui-bg_flat_15_0ac9cd_40x100.png);
	margin-top:5px;
	height: 32px;
border:1px #ccc solid;
}
.menu-left
{	
	float: left; 
	padding: 5px;
	width:200px;
}

.content
{
	max-width:1024px;
	margin: auto;
	border:1px #666 solid;
	height: 768px;
}

.content-right
{
	float:right;
	padding:10px;
	width:790px;
	height:749px;
	border-left:#666 2px dotted;
}

#login
{
margin:auto;
width: 150px; background-color: #fff;
padding:5px;
}

html,body
{
background-color:#eee;
}

a{
	text-decoration:none; color:#000;
}

a:hover 
{
color:#39F;
}

.form-edit-dokumen
{
	width:400px;
	margin:auto;
}
.peminjaman
{
border: 1px solid #ff0;
width:600px;
}

.form-pinjam
{
width:500px;
margin:auto;
}

h3{
color:#4fbfff;
}
.rightFloat{
float:right;
}